.register__container
  .register__container__header
    = image_tag "logo.svg", class:"campany-logo", alt:"メルカリロゴ"
    %nav.progress-bar
      %ol.clearfix
        .activ-box
          %li.active-red
            会員情報
            .progress-status-first
        .activ-box
          %li.active-red
            連絡先情報
            .progress-status-red
        .activ-box
          %li.active
            支払い方法
            .progress-status
        .activ-box
          %li.active
            完了
            .progress-status-last
  %main.register-main
    %section.register-main__container
      %h2.register-main__container--header 連絡先情報登録

      .register-info
        お客さまの本人情報をご登録ください。
        %br
        登録されたお名前・生年月日を変更する場合、
        %br
        本人確認書類の提出が必要になります。

      .register-pass-upload
        本人確認書類のアップロードについて

      .register-inner
        = form_for(@profiles) do |f|
          .register-inner__content
            .form-group
              %span.registration_font 姓（全角）
              %span.require-icon 必須
              = f.text_field :first_name, placeholder: "例）山田", class:"input-default"

            .form-group
              %span.registration_font 名（全角）
              %span.require-icon 必須
              = f.text_field :last_name, placeholder: "例）太朗", class:"input-default"

            .form-group
              %span.registration_font 姓（カナ）
              %span.require-icon 必須
              = f.text_field :first_name_kana, placeholder: "例）ヤマダ", class:"input-default"

            .form-group
              %span.registration_font 名（カナ）
              %span.require-icon 必須
              = f.text_field :last_name_kana, placeholder: "例）タロウ", class:"input-default"

            .form-group
              %span.registration_font 生年月日
              %span.require-icon 必須
              = f.date_field :birthdate, placeholder: "2000年2月2日", class:"input-default"

            .form-group
              %span.registration_font 郵便番号
              %span.require-icon 必須
              = f.text_field :zip_code,  :maxlength => "9", placeholder: "123-4567", class:"input-default"

            .form-group
              %span.registration_font 都道府県
              %span.require-icon 必須
              = f.text_field :prefecture,  placeholder: "東京都", class:"input-default"

            .form-group
              %span.registration_font 区市町村
              %span.require-icon 必須
              = f.text_field :city, placeholder: "品川区", class:"input-default"

            .form-group
              %span.registration_font 町名番地
              %span.require-icon 必須
              = f.text_field :address1, placeholder: "１丁目１−１", class:"input-default"

            .form-group
              %span.registration_font マンション名・部屋番号
              %span.optional-icon 任意
              = f.text_field :address2, placeholder: "タワー１０１号室", class:"input-default"

            .form-group
              %span.registration_font 電話番号
              %span.require-icon 必須
              = f.telephone_field :phone_number, :maxlength => "13", placeholder: "090-1234-5678", class:"input-default"

            .actions
              = f.submit :お支払情報登録へ, class:"register-member"
  .register__container__footer
    = image_tag "logo-gray.svg", class:"campany-logo-gray", alt:"メルカリロゴgray"
