%p#notice= notice

%p
  %b Nickname:
  = @profile.nickname
%p
  %b Email:
  = @profile.email
%p
  %b Password:
  = @profile.password
%p
  %b Password confirmation:
  = @profile.password_confirmation
%p
  %b Self introduction:
  = @profile.self_introduction
%p
  %b First name:
  = @profile.first_name
%p
  %b Last name:
  = @profile.last_name
%p
  %b First name kana:
  = @profile.first_name_kana
%p
  %b Last name kana:
  = @profile.last_name_kana
%p
  %b Birthdate:
  = @profile.birthdate
%p
  %b Zip code:
  = @profile.zip_code
%p
  %b Prefecture:
  = @profile.prefecture
%p
  %b City:
  = @profile.city
%p
  %b Ddress1:
  = @profile.ddress1
%p
  %b Ddress2:
  = @profile.ddress2
%p
  %b Phone number:
  = @profile.phone_number
%p
  %b User:
  = @profile.user

= link_to 'Edit', edit_profile_path(@profile)
\|
= link_to 'Back', profiles_path
