.single-container
  .single-container__header
    = image_tag "logo.svg", class:"campany-logo", alt:"メルカリロゴ"
    %nav.progress-bar
      %ol.clearfix
        .activ-box
          %li.active
            会員情報
            .progress-status
        .activ-box
          %li.active
            電話番号認証
            .progress-status
        .activ-box
          %li.active
            お届け先住所入力
            .progress-status
        .activ-box
          %li.active
            支払い方法
            .progress-status
        .activ-box
          %li.active
            完了
            .progress-status

  %main.single-main
    %section.single-main__container
      %h2.single-main__container--header 会員情報入力

      .single-inner
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

          .single-inner__content

            .form-group
              %span.registration_font ニックネーム
              %span.require-icon 必須
              = f.text_field :nickname, placeholder: "例）メルカリ太郎", class:"input-default"

            .form-group
              %span.registration_font メールアドレス
              %span.require-icon 必須
              = f.email_field :email, placeholder: "PC・携帯どちらでも可", class:"input-default"

            .form-group
              %span.registration_font パスワード
              %span.require-icon 必須
              = f.password_field :password, placeholder: "６文字以上", class:"input-default"

            .form-group
              %span.registration_font パスワード（確認）
              %span.require-icon 必須
              = f.password_field :password_confirmation, placeholder: "６文字以上", minlength: "6", class:"input-default"

            .actions
              = f.submit :会員登録する, class:"register-member"
  .container-footer
    = image_tag "logo-gray.svg", class:"campany-logo-gray", alt:"メルカリロゴgray"
