.register__container
  .register__container__header
    = link_to root_path, class:"register_logo_link" do
      = image_tag "logo.svg", class:"campany-logo", alt:"メルカリロゴ"

  %main.register-main
    %section.register-main__container
      %h2.register-main__container--header 新規会員登録

      .register-inner
        .register-inner__content
          .actions
            .inline-icon-box
              = image_tag "mail.png", class:"minilogo"
            %a.mail-address-btn{:href => 'users/sign_up'}
              メールアドレスで登録

          .actions
            .inline-icon-box
              = image_tag "facebook.png", class:"minilogo"
            %a.facebook-btn{:href => 'users/auth/facebook/'}
              Facebookで登録

          .actions
            .inline-icon-box
              = image_tag "google.png", class:"minilogo"
            %a.google-btn{:href => 'users/auth/google_oauth2/'}
              Googleで登録

  .register__container__footer
    = image_tag "logo-gray.svg", class:"campany-logo-gray", alt:"メルカリロゴgray"
