.container
  = render'side'
  .content
    %section.profile
      .profile__image
        %h2.profile__image--name
          = link_to '名前','',class: 'profilei__image--name'
      .profile__number
        .profile__number--figure
          評価
          %span.evaluation
            0
        .profile__number--product
          出品数
          %span.exhibit
            0
    %section.record
      %ul.record__top
        %li
          = link_to 'お知らせ','',class: 'notice'
        %li
          = link_to 'やることリスト','' ,class: 'do'
      .bottom
        %ul#mypage-tab-notification.mypage-item-list
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.fas.fa-angle-right
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.fas.fa-angle-right
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.fas.fa-angle-right
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.fas.fa-angle-right
          .mypage-go
            %li
              = link_to '一覧を見る','', class: 'mypage-go__list'
      %ul#mypage-tab-todo.maypage-item-list
        %li.mypage-item-not-found.bold
    %section.mypage-tab-container
      %h2.mypage-tab-head
        購入した商品
        %ul.transaction
          %li
            =link_to '現在取引中', '',class: 'current-transaction'
          %li
            =link_to '過去の取引', '',class: 'past-transaction'
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list
            %li.mypage-item-not-found.bold
              現在取引中の商品がありません
