.register__container
  .register__container__header
    = image_tag "logo.svg", class:"campany-logo", alt:"メルカリロゴ"
  .breadcrumbs-header-contener
    .breadcrumbs-header
      - breadcrumb :signout
      = breadcrumbs separator: " &rsaquo; "
.contaier
  = render 'side'
  %main.register-signout
    %section.register-main__container
      .register-inner
        .register-inner__content
          .actions
            .sign-out-btn
              = link_to "ログアウト", destroy_user_session_path, method: :delete
.footer
  = render 'global-footer'

