.register__container
  .register__container__header
    = image_tag "logo.svg", class:"campany-logo", alt:"メルカリロゴ"
    %nav.progress-bar
      %ol.clearfix
        .activ-box
          %li.active-red
            会員情報
            .progress-status-first
        .activ-box
          %li.active-red
            電話番号認証
            .progress-status-red
        .activ-box
          %li.active-red
            連絡先情報
            .progress-status-red
        .activ-box
          %li.active-red
            支払い方法
            .progress-status-red
        .activ-box
          %li.active
            完了
            .progress-status-last
  %main.registerew-main
    %section.register-main__container
      %h2.register-main__container--header 支払い方法

      .register-inner
        = form_for(@payment) do |f|
          .register-inner__content

            .form-group
              %span.registration_font カード番号
              %span.require-icon 必須
              = f.text_field :card_number, :maxlength => "16", placeholder: "ハイフン（ー）は除いて半角で16桁入力", class:"input-default"
              = image_tag "card.png", class:"card-png"

            .form-group
              %span.registration_font 有効期限
              %span.require-icon 必須
              .expiration_date_box
                = f.date_select :expiration_date, :discard_day => "true", start_year: (Time.now.year),end_year: (Time.now.year+10), date_separator: '年 '
                月

            .form-group
              %span.registration_font セキュリティー番号
              %span.require-icon 必須
              = f.text_field :security_code, :maxlength => "4", placeholder: "カード背面もしくは４桁もしくは３桁の番号", class:"input-default"
              .card-indo
                カード裏面の番号とは
            .actions
              = f.submit :会員登録完了, class:"register-member"


  .register__container__footer
    = image_tag "logo-gray.svg", class:"campany-logo-gray", alt:"メルカリロゴgray"
