%footer.product-footer
  %nav
    %ul.cleafix
      %li
        = link_to "#" do
          プライバシーポリシー
      %li
        = link_to "#" do
          メルカリ利用規約
      %li
        = link_to "#" do
          特定商取引に関する規約
  = link_to root_path, class: "product-footer__logo" do
    = image_tag("logo-gray.svg", alt: "mercari", width: "80", height: "65")
  %p
    %small © 2019 Mercari
