.outer

  = render 'product-header'

  %main.buy-main
    .buy-item-container
      %h2.buy-item-head 購入を確定しますか？
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            = image_tag "#{@product.images[0].image_path_url}"
          %p.buy-item-name.bold
            #{@product.name}
          = form_for @product, url: {controller: "trades", action: "update"} do |f|
            = f.hidden_field :price, value: @product.price
            %p.buy-price-ja.bold
              ¥ #{@product.price.to_s(:delimited)}
              %span.item-shipping-fee.f14.bold
                = fee_decide(@product)
            %ul.buy-accordion.not-have
              %li.accrodion-parent
                .accrodion-toggle ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
              %li.buy-price-cell 支払い金額
              %li.buy-price-cell ¥ #{@product.price.to_s(:delimited)}
            = f.submit "購入する", class: "btn-buy bold"

      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒
            = zip_code(@profile)
            %br
            = set_address(@profile)
            %br
            = set_name(@profile)
          = link_to "#", class: "buy-user-info-fix" do
            %span 変更する
            %i.fas.fa-angle-right.arrow-right

      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 支払方法
          %p.buy-user-info-text
            = "************" + @customer.last4
            %br
            = @customer.exp_month
            = "/"
            = @customer.exp_year
          %figure
            - if @customer.brand == "JCB"
              = image_tag 'jcb.svg', alt: "#{@customer.brand}", class: "card_img"
            - elsif @customer.brand == "MasterCard"
              = image_tag 'master-card.svg', alt: "#{@customer.brand}", class: "card_img"
            - elsif @customer.brand == "Discover"
              = image_tag 'discover.svg', alt: "#{@customer.brand}", class: "card_img"
            - elsif @customer.brand == "Visa"
              = image_tag 'visa.svg', alt: "#{@customer.brand}", class: "card_img"
            - elsif @customer.brand == "American Express"
              = image_tag 'american_express.svg', alt: "#{@customer.brand}", class: "card_img"
            - elsif @customer.brand == "Diners Club"
              = image_tag 'dinersclub.svg', alt: "#{@customer.brand}", class: "card_img"
            - else
              = image_tag 'visa.svg', alt: "#{@customer.brand}", class: "card_img"
          = link_to "#", class: "buy-user-info-fix" do
            %span 変更する
            %i.fas.fa-angle-right.arrow-right

  = render 'product-footer'
