= render 'layouts/global-header'

#my-slider.slider-pro
  .sp-slides
    / Slide 1
    .sp-slide
      = image_tag 'slider1.png', class: "sp-image"
    / Slide 2
    .sp-slide
      = image_tag 'slider2.png', class: "sp-image"
    / Slide 3
    .sp-slide
      = image_tag 'slider3.png', class: "sp-image"
.pickup-container
  %h2 ピックアップカテゴリー
  %main.item-box__container
    %div
      %section.body-items-box
        %h2.body-items-box__box-head 全商品一覧
        - @products.each do |product|
          %section.body-items-box__item-box
            = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
              %figure.item-box-photo
                = image_tag "#{product.images[0].image}", class: "item-box-photo__img"
              .item-box-body
                %h3.item-box-body__name
                  = simple_format(product.name)
                .item-box-body__num
                  .item-box-body__num--price
                    ¥
                    = product.price
                  %p.item-box-body__num--tax (税込)
        %h3
          = link_to 'レディース新着アイテム', "#"
        = render 'item-box'
        = render 'item-box'
        = render 'item-box'
        = render 'item-box'
        .view-all
          = link_to 'すべての商品を見る', '#'
      %section.body-items-box
        %h3
          = link_to 'メンズ新着アイテム', "#"
        = render 'item-box'
        = render 'item-box'
        = render 'item-box'
        = render 'item-box'
        .view-all
          = link_to 'すべての商品を見る', '#'
      %section.body-items-box
        %h3
          = link_to 'ベビー・キッズ新着アイテム', "#"
        = render 'item-box'
        = render 'item-box'
        = render 'item-box'
        = render 'item-box'
        .view-all
          = link_to 'すべての商品を見る', '#'
  = image_tag 'banner.png', class: "global-banner"

= render 'layouts/global-footer'
