= render 'layouts/global-header'

#my-slider.slider-pro
  .sp-slides
    / Slide 1
    .sp-slide
      = image_tag 'slider1.png', class: "sp-image"
    / Slide 2
    .sp-slide
      = image_tag 'slider2.png', class: "sp-image"
    / Slide 3
    .sp-slide
      = image_tag 'slider3.png', class: "sp-image"
.pickup-container
  %h2 ピックアップカテゴリー
  %main.item-box__container
    %div
      %section.body-items-box
        %h3
          = link_to "#{@ladies.name}新着アイテム", "#"
        = render partial: 'product', collection: @ladies_products
        .view-all
          = link_to 'すべての商品を見る', '#'
      %section.body-items-box
        %h3
          = link_to "#{@mens.name}新着アイテム", "#"
        - if @mens_products.present?
          = render partial: 'product', collection: @mens_products
          .view-all
            = link_to 'すべての商品を見る', '#'
        - else
          .no-item
            %p まだ出品されていません
      %section.body-items-box
        %h3
          = link_to "#{@baby.name}新着アイテム", "#"
        - if @baby_products.present?
          = render partial: 'product', collection: @baby_products
          .view-all
            = link_to 'すべての商品を見る', '#'
        - else
          .no-item
            %p まだ出品されていません
      %section.body-items-box
        %h3
          = link_to "#{@beauty.name}新着アイテム", "#"
        - if @beauty_products.present?
          = render partial: 'product', collection: @beauty_products
          .view-all
            = link_to 'すべての商品を見る', '#'
        - else
          .no-item.last-item
            %p まだ出品されていません

  %div.global-banner
  / = image_tag 'banner.png', class: "global-banner"

= render 'layouts/global-footer'
