.container
  .content
    %section.profile
      .profile__image
        %h2.profile__image--name
          = link_to '名前','',class: 'profile__name'
      .profile__number
        .profile__number--figure
          評価
          %span.evaluation
            0
        .profile__number--product
          出品数
          %span.exhibit
            0
    %section.record
      %ul.record__top
        %li
          = link_to 'お知らせ','',class: 'notice'
        %li
          = link_to 'やることリスト','' ,class: 'do'
      .bottom
        %ul#mypage-tab-notification.mypage-item-list
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.icon-arrow-right
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.icon-arrow-right
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.icon-arrow-right
          %li.mypage-item-link
            = link_to '',class: 'mypage-item-link' do
              = image_tag 'https://i.gyazo.com/325cdcd71c3dcb21bdda03be998fb4f1.png',class: 'picture'
              .mypage-item
                .mypage-item__text
                  通知
                  .icon-time
                    .icon
                    .time
                      2日前
              %i.icon-arrow-right
          .mypage-go
            %li
              = link_to '一覧を見る','', class: 'mypage-go__list'
      %ul#mypage-tab-todo.maypage-item-list
        %li.mypage-item-not-found.bold
    %section.mypage-tab-container
      %h2.mypage-tab-head
        購入した商品
        %ul.transaction
          %li
            =link_to '現在取引中', '',class: 'current-transaction'
          %li
            =link_to '過去の取引', '',class: 'past-transaction'
        .tab-content
          %ul#mypage-tab-transaction-now.mypage-item-list
            %li.mypage-item-not-found.bold
              現在取引中の商品がありません
          / %ul#mypage-tab-transaction-old.mypage-item-list
          /   %li.mypage-item-not-found.bold
          /     過去の取引した商品はありません
  .side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list__item-gray
            マイページ
            %i.icon-arrow-right
        %li
          %a
            = link_to 'お知らせ','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'やることリスト','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'いいね！一覧','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '出品する','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '出品した商品 - 出品中','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '出品した商品 - 取引中','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '出品した商品 - 売却済み','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '購入した商品 - 取引中','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '購入した商品 - 過去の取引','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'ニュース一覧','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '評価一覧','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'ガイド','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'お問い合わせ','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
    %h3.mypage-nav-head
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item-head
            メルペイ
            %i.icon-arrow-right
        %li.mypage-nav-list
          %a
            = link_to '売上・振込申請','', class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'ポイント', '', class: 'mypage-nav-list__item'
            %i.icon-arrow-right
    %h3.mypage-nav-head
      %ul.mypage-nav-list
        %li
          %a.mypage-nav-list-item-head
            設定
            %i.icon-arrow-right
        %li
          %a.mypae-nav-list
            = link_to 'プロフィール', '',class: 'mypage-nav-list__item'
            %i.icon-arrow-right

        %li
          %a
            = link_to '発送元・お届け先住所変更','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'お支払い方法', '',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'メール/パスワード','',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '本人情報', '',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to '電話番号の確認', '',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
        %li
          %a
            = link_to 'ログアウト', '',class: 'mypage-nav-list__item'
            %i.icon-arrow-right
