= render 'layouts/global-header'
%section.item-box
  %h1.item-box__box-name
    = @product.name
  %p.item-box__box-word 『#{@product.name}』は、51回の取引実績を持つ#{@user.nickname}さんから出品されました。（#{@grandchild_category}/#{@parent_category}）の商品で、#{@product.prefecture.name}から#{date_decide(@product)}で発送されます。
  .item-box__box-main.clearfix
    .item-photo
      %div
        %ul.photo-main.slider
          - if @product.images
            - @product.images.each do |image|
              %li.photo-main__item
                = image_tag("#{image.image_path_url}", class: "photo-main__item--img")
        .photo-sub
          - if @product.images
            - @product.images.each do |image|
              .photo-sub__item
                = image_tag "#{image.image_path_url}", class: "photo-sub__item--img"

    %table.item-detail
      %tbody
        %tr
          %th.item-detail__th 出品者
          %td.item-detail__td
            = link_to @user.nickname, "#", class: ""
            %div
              .item-detail__td--rate
                %i.fas.fa-grin
                %span 52
              .item-detail__td--rate
                %i.fas.fa-meh
                %span 2
              .item-detail__td--rate
                %i.fas.fa-frown
                %span 3
        %tr
          %th.item-detail__th カテゴリー
          %td.item-detail__td
            = link_to "#", class: "" do
              %div
                %text #{@parent_category}
            = link_to "#", class: "" do
              %div
                %i.fas.fa-angle-right.arrow-icon-right
                %text #{@child_category}
            - unless @grandchild_category == "none"
              = link_to "#", class: "" do
                %div
                  %i.fas.fa-angle-right.arrow-icon-right
                  %text #{@grandchild_category}
        %tr
          %th.item-detail__th ブランド
          %td.item-detail__td
            = link_to "#", class: "" do
              %text シャネル
        %tr
          %th.item-detail__th 商品の状態
          %td.item-detail__td
            = @product.condition_i18n
        %tr
          %th.item-detail__th 配送料の負担
          %td.item-detail__td
            = @product.postage.name
        %tr
          %th.item-detail__th 配送の方法
          %td.item-detail__td
            = @product.shipping_method.name
        %tr
          %th.item-detail__th 配送元地域
          %td.item-detail__td
            = link_to "#", class: "" do
              %text
                = @product.prefecture.name
        %tr
          %th.item-detail__th 発送日の目安
          %td.item-detail__td
            = @product.date_i18n
  .item-box__box-price
    %span.item-box__box-price--price
      ¥ #{@product.price.to_s(:delimited)}
    %span.item-box__box-price--tax (税込)
    %span.item-box__box-price--shipping-fee
      = fee_decide(@product)
  - if @product.status == 0
    = link_to '購入画面に進む', "#", class: "item-buy-btn"
  - else
    = link_to '売り切れました', "#", class: "item-buy-btn disabled"
  - if @user.id == current_user.id
    = link_to '商品の編集', edit_product_path(@product.id), class: "item-buy-btn"
    = link_to 'この商品を削除する', product_path(@product.id), method: :delete, class: "item-buy-btn disabled"
  .item-box__box-descriotion
    %p.item-box__box-descriotion--inner
      = @product.detail
    %p.item-box__box-descriotion--p
  .item-box__btn-container.clearfix
    .item-box__btn-container-left
      = render 'likes/like_links', product: @product
      %div.like-link
        =link_to "#", class: "item-box__btn-container-left--report item-button" do
          %i.far.fa-flag
          %span 不適切な商品の報告
    .item-box__btn-container-right
      =link_to "#", class: "item-box__btn-container-right--effort" do
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み
%ul.nav-item-container.clearfix
  %li.nav-item-container__prev
    %i.fas.fa-angle-left.arrow-icon-left
    = link_to "#", class: "" do
      %text 【サイズ90】ロンパース 【コンビミニ】
  %li.nav-item-container__next
    %i.fas.fa-angle-right.arrow-icon-right
    = link_to "#", class: "" do
      %text 【美品】黒澤明の映画を支えたスタッフたちのインタビュー集２冊の保存版
.social-media
  %ul.social-media-box
    %li.social-media-box__icon
      = link_to "#", class: "social-media-box__icon--link" do
        %i.fab.fa-facebook.fa-3x
    %li.social-media-box__icon
      = link_to "#", class: "social-media-box__icon--link" do
        %i.fab.fa-twitter-square.fa-3x
    %li.social-media-box__icon
      = link_to "#", class: "social-media-box__icon--link" do
        %i.fab.fa-google-plus-square.fa-3x
.body-items
  %section.body-items-box
    %h2.body-items-box__box-head
      = link_to '小林タロウさんのその他の出品', "#", class: "body-items-box__box-head--link"
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
  %section.body-items-box
    %h2.body-items-box__box-head
      = link_to 'シャネルのブレスレッド その他の商品', "#", class: "body-items-box__box-head--link"
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
    %section.body-items-box__item-box
      = link_to "http://www.google.co.jp/", class: "body-items-box__item-box--link" do
        %figure.item-box-photo
          = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37415570207_1.jpg?1550117821', class: "item-box-photo__img"
        .item-box-body
          %h3.item-box-body__name セットアップ  スーツ  入学式  卒業式  レディース 9号
          .item-box-body__num
            .item-box-body__num--price ¥ 1,190
            %p.item-box-body__num--tax (税込)
= render 'layouts/global-footer'
