%aside.app-banner
  .app-banner__pc
    .app-banner__pc--inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner__pc--inner--icon.clearfix
        %figure
          = image_tag 'mercari_icon.png'
        %ul.clearfix
          %li
            = link_to '#' do
              = image_tag 'app-store.svg'
          %li
            = link_to '#' do
              = image_tag 'google-play.svg'
    %figure.app-banner__pc--figure
      = image_tag 'download_content_pc.png'

