.default-container
  %header.global-header
    .global-header__inner
      .clearfix.global-header-up
        %a.global-header-up__link{:href => root_path}
          %img.mercari-logo{:src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?856433691", :alt => "mercari"}
        .basic-form
          = form_with url: search_products_path, method: :get, local: true do |form|
            = form.text_field :keyword, placeholder: "キーワードから探す",class: 'basic-form__search'
            = form.submit '', class: 'basic-form__search-submit', name: nil
            %i.fas.fa-search.search-icon
      .clearfix.global-header-down
        .product-search
          %nav
            %ul.product-search-list
              %li.product-search-list__list-item
                %a.product-search-list__list-item--item-link{:href => "#"} カテゴリーから探す
              %li.product-search-list__list-item
                %a.product-search-list__list-item--item-link{:href => "#"} ブランドから探す
        - unless user_signed_in?
          .user-sign
            %ul.user-sign-list
              %li.user-sign-list__list-item-red
                %a.user-sign-list__list-item-red--item-link{:href => user_session_path} ログイン
              %li.user-sign-list__list-item-blue
                %a.user-sign-list__list-item-blue--item-link{:href => registration_select_path} 新規会員登録
        - else
          .user-menu
            %ul.user-menu__list
              %li
                = link_to user_path(current_user.id) do
                  %figure.user-menu__list--figure
                    %div
                      = image_tag 'member_photo_noimage_thumb.png'
                  %div.user-menu__list--mypage マイページ
              %li
                = link_to '#' do
                  %i.far.fa-bell
                    %span お知らせ
              %li
                = link_to '#' do
                  %i.fas.fa-check
                    %span やることリスト
    = render 'layouts/breadcrumbs-header'
