.register__container
  .register__container__header
    = image_tag "logo.svg", class:"campany-logo", alt:"メルカリロゴ"
    %nav.progress-status-first
      %ol.clearfix
        .activ-box
          %li.active-red
            会員情報
            .progress-status
        .activ-box
          %li.active
            連絡先情報
            .progress-status
        .activ-box
          %li.active
            支払い方法
            .progress-status
        .activ-box
          %li.active
            完了
            .progress-status

  %main.register-main
    %section.register-main__container
      %h2.register-main__container--header 会員情報入力

      .register-inner
        = form_for(resource, as: resource_name, :href => '/users/sign_up', method: :post) do |f|
          = devise_error_messages!
          .register-inner__content
            .form-group
              %span.registration_font ニックネーム
              %span.require-icon 必須
              = f.text_field :nickname, placeholder: "例）メルカリ太郎", class:"input-default"

            .form-group
              %span.registration_font メールアドレス
              %span.require-icon 必須
              = f.email_field :email, placeholder: "PC・携帯どちらでも可", class:"input-default"

            .form-group
              %span.registration_font パスワード
              %span.require-icon 必須
              = f.password_field :password, :minlength => "6", placeholder: "６文字以上", class:"input-default"

            .form-group
              %span.registration_font パスワード（確認）
              %span.require-icon 必須
              = f.password_field :password_confirmation, :minlength => "6", placeholder: "６文字以上", minlength: "6", class:"input-default"

            .form-group
              %span.registration_font 自己紹介
              %span.optional-icon 任意
              = f.text_area :self_introduction, placeholder: "", class:"input-default"

            .actions
              = f.submit :次へ進む, class:"register-member"

  .register__container__footer
    = image_tag "logo-gray.svg", class:"campany-logo-gray", alt:"メルカリロゴgray"
